body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 17px;
    line-height: 1.5;
    color: #333;

    width: 100%;
    height: 100vh;

    background: url("images/gold.jpg") center
    no-repeat;
    -webkit-backround-size: cover;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

.background {
    position: absolute;
    width: 100%;
    left: 167px;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    background-color: aliceblue;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


#header {
    width: 100%;
    padding-top: 30px;

    display:block;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    padding-left: 20px;
}
.table {
    display: block;
}

input[type="submit"] {
    background-color: gold;
    margin: 0px 10px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    float: right;
}

.list {
    padding-left: 10px;
    border: 4px double black;
    border-radius: 10px;
}